TITLE="Komodo's NFT Anti-Phishing API"
DESCRIPTION="A simple API that checks contract addresses and domains against blocklists to mitigate ugly, spammy NFTs."
DEBUG=True

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SERVER=pgsql_db
POSTGRES_PORT=5432
POSTGRES_DB=postgres

FASTAPI_PORT=8000

# Get from https://www.alchemy.com/
ALCHEMY_API_KEY=

# Get form google cloud console
GOOGLE_API_KEY=

# Get from https://www.mnemonichq.com/
MNEMONICHQ_API_KEY=
